body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    width: 512px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.snake-img img {
    width: 80%;
}

.snake-txt {
    font-size: 80px;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}